.about-us__wrapper {
  @include horizontal-paddings;
  @include vertical-paddings-30;
}

.about-us__title {
  @include section-title;

  margin: 0;
}

.about-us__list {
  padding-left: 8px;
}

.about-us__item {
  margin-top: 30px;
  list-style: none;
}

.about-us__subtitle {
  @include text-medium--bold;

  margin-top: 20px;
  line-height: 1.18;
  color: $black;
}

.about-us__icon {
  @include icon(center);

  &--ecology {
    background-image: url("/img/icon-feature-flower.svg");
    height: 37px;
    width: 32px;
  }

  &--style {
    background-image: url("/img/icon-feature-money.svg");
    height: 27px;
    width: 47px;
  }

  &--like {
    background-image: url("/img/icon-feature-heart.svg");
    height: 30px;
    width: 36px;
  }

  &--thread {
    background-image: url("/img/icon-feature-ball.svg");
    height: 35px;
    width: 35px;
  }

  &--rocket {
    background-image: url("/img/icon-feature-rocket.svg");
    height: 23px;
    width: 55px;
  }

  &--gift {
    background-image: url("/img/icon-feature-gift.svg");
    height: 33px;
    width: 33px;
  }
}
