.catalog-section {
  @include horizontal-paddings;

  &--light-bg {
    background-color: $green-downy;
  }

  &--dark-bg {
    background-color: $green-puerto-rico;
  }
}

.catalog-section__image {
  position: absolute;

  &--interior {
    right: 37px;
  }

  &--toy {
    right: 28px;
  }
}

.catalog-section__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.catalog-section__title {
  @include text-large--bold;
  @include vertical-paddings-30;

  margin: 0;
  line-height: 1.26;
  color: $white-snow;
}
