.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  @include text-large--bold;

  line-height: 0.95;
  color: $black;
}

.copyright__icon {
  @include icon(center);

  margin-left: 30px;
  height: 34px;
  width: 27px;
  background-image: url("../../img/htmlacademy.svg");
}
