.main-nav__toggle {
  @include icon(center);

  &--close {
    background-image: url("/img/icon-menu-close.svg");
    height: 20px;
    width: 21px;
  }

  &--open {
    background-image: url("/img/icon-menu-open.svg");
    height: 14px;
    width: 20px;
  }
}
