.page-main {
  margin: 0 auto;
}

.page-main__background {
  padding: 76px 40px 120px 40px;
  background-color: $white-ghost;

  &--image {
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-image: url("/img/hero-mobile@1x.jpg");
  }
}

.page-main__title {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.11;
  color: $black;
}

.page-main__title-wrapper {
  padding: 76px 42px 74px 42px;
  background-color: $white-ghost;
}
