.popular-item {
  &__wrapper {
    @include horizontal-paddings;
  }

  &__title {
    @include section-title;
  }

  &__label {
    @include title-green;

    line-height: 1.18;
  }

  &__parameters {
    @include text-small;

    line-height: 1.33;
  }

  &__description {
    line-height: 1.6;
  }

  &__price {
    @include text-medium--bold;

    line-height: 1.41;
  }

  &--light-bg {
    background-color: $green-downy;
  }
}
