.post__wrapper {
  @include horizontal-paddings;
}

.post__video-icon {
  @include icon(center);

  background-image: url("../img/icon-video.svg");
  height: 22px;
  width: 32px;
}

.post__video-image {
  @include icon(center);

  background-image: url("../img/video-mobile@1x.jpg");
  height: 150px;
  width: 260px;
}

.post__video-btn {
  @include icon(center);

  background-image: url("../img/icon-play.svg");
  height: 77px;
  width: 101px;
}

.post__text {
  @include text-extra-small;
}
