.product__name {
  @include text-medium--bold;

  line-height: 1.41;
}

.product__link {
  color: $black;
  text-decoration: none;
}

.product__size {
  @include text-extra-small;
}

.product__price {
  @include text-small;

  line-height: 1.6;
  font-weight: 700;
  color: $black;
}

.product__cart-icon {
  @include icon(center);

  background-image: url("../../img/icon-cart.svg");
  height: 19px;
  width: 20px;
}
