.reviews {
  &__wrapper {
    @include horizontal-paddings;
  }

  &__item {
    margin-left: 0;
  }

  &__title {
    @include section-title;
  }

  &__text {
    @include text-small;

    line-height: 2;
  }

  &__author-name {
    @include text-medium--bold;

    line-height: 1.41;
    color: $black;
    font-style: normal;
  }

  &__author-instagram {
    line-height: 1.76;
  }

  &__button-icon {
    @include icon(center);

    height: 26px;
    width: 50px;

    &--prev {
      background-image: url("../img/icon-left-arrow.svg");
    }

    &--next {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }
}
