.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  @include icon(center);

  margin-right: 20px;
  margin-left: 20px;

  &--instagram {
    height: 21px;
    width: 22px;
    background-image: url("/img/icon-insta.svg");
  }

  &--facebook {
    height: 28px;
    width: 15px;
    background-image: url("/img/icon-fb.svg");
  }

  &--twitter {
    height: 20px;
    width: 23px;
    background-image: url("/img/icon-twitter.svg");
  }
}
