// Black
$black: #000000;

// Gray
$gray-charcoal: #444444;
$gray-whisper: #ececec;
$gray-snow: #f9f9f9;
$gray-charcoal-opacity-1: rgba($gray-charcoal, 0.1);
$gray-charcoal-opacity-3: rgba($gray-charcoal, 0.3);

// White
$white-snow: #ffffff;
$white-ghost: #f1f1f2;

// Green
$green-downy: #63d1bb;
$green-puerto-rico: #56c3b2;
