@mixin icon($position) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin horizontal-paddings {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

@mixin vertical-paddings {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.visually-hidden {
  display: none;
}
