@import "colors.scss";
@import "typography.scss";

.catalog-section {

  &__title {
    @include text-large--bold;

    line-height: 1.26;
    color: $white-snow;
  }

  &--light-bg {
    background-color: $green-downy;
  }

  &--dark-bg {
    background-color: $green-puerto-rico;
  }

}
