@import "helpers.scss";
@import "typography.scss";

.copyright {

  &__text {
    @include text-large--bold;

    line-height: 0.95;
    color: $black;
  }

  &__icon {
      @include icon(center);

      height: 34px;
      width: 27px;
      background-image: url("../img/htmlacademy.svg");
    }

}
