@import "helpers.scss";

.form {

  &__input-container {
    position: relative;
  }

  &__input-icon {
    @include icon(center);

    left: 100px;
    position: absolute;

    &--phone {
      background-image: url("../img/icon-phone.svg");
      height: 24px;
      width: 25px;
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
      height: 21px;
      width: 32px;
    }

  }

}
