@import "helpers.scss";

.reviews {

  &__button-icon {
    @include icon(center);

    height: 26px;
    width: 50px;

    &--prev {
      background-image: url("../img/icon-left-arrow.svg");
    }

    &--next {
      background-image: url("../img/icon-right-arrow.svg");
    }

  }

}
