@import "colors.scss";

@mixin section-title {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
}

@mixin text-extra-small {
  font-size: 0.8125rem;
  line-height: 1.85;
}

@mixin text-small {
  font-size: 0.9375rem;
}

@mixin text-medium {
  font-size: 1.0625rem;
}

@mixin text-medium--bold {
  @include text-medium;

  font-weight: 700;
}

@mixin text-large {
  font-size: 1.1875rem;
}

@mixin text-large--bold {
  @include text-large;

  font-weight: 700;
}

@mixin title-green {
  @include text-medium--bold;

  text-transform: uppercase;
  color: $green-downy;
}
